

    <div class="page">
        <div id="page_top" class="section-body top_dark">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fa  fa-align-left"></i></a>
                        <h1 class="page-title">Search</h1>                        
                    </div>
                    <div class="right">
                        <div class="input-icon xs-hide mr-4">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-icon-addon"><i class="fe fe-search"></i></span>
                        </div>
                        <div class="notification d-flex">
                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-language"></i></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="#"><img class="w20 mr-2" src="assets/images/flags/us.svg">English</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><img class="w20 mr-2" src="assets/images/flags/es.svg">Spanish</a>
                                    <a class="dropdown-item" href="#"><img class="w20 mr-2" src="assets/images/flags/jp.svg">japanese</a>
                                    <a class="dropdown-item" href="#"><img class="w20 mr-2" src="assets/images/flags/bl.svg">France</a>
                                </div>
                            </div>
                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge badge-success nav-unread"></span></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <ul class="right_chat list-unstyled w350 p-0">
                                        <li class="online">
                                            <a href="javascript:void(0);" class="media">
                                                <img class="media-object" src="assets/images/xs/avatar4.jpg" alt="">
                                                <div class="media-body">
                                                    <span class="name">Donald Gardner</span>
                                                    <div class="message">It is a long established fact that a reader</div>
                                                    <small>11 mins ago</small>
                                                    <span class="badge badge-outline status"></span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="online">
                                            <a href="javascript:void(0);" class="media">
                                                <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                                <div class="media-body">
                                                    <span class="name">Wendy Keen</span>
                                                    <div class="message">There are many variations of passages of Lorem Ipsum</div>
                                                    <small>18 mins ago</small>
                                                    <span class="badge badge-outline status"></span>
                                                </div>
                                            </a>                            
                                        </li>
                                        <li class="offline">
                                            <a href="javascript:void(0);" class="media">
                                                <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                                <div class="media-body">
                                                    <span class="name">Matt Rosales</span>
                                                    <div class="message">Contrary to popular belief, Lorem Ipsum is not simply</div>
                                                    <small>27 mins ago</small>
                                                    <span class="badge badge-outline status"></span>
                                                </div>
                                            </a>                            
                                        </li>
                                        <li class="online">
                                            <a href="javascript:void(0);" class="media">
                                                <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                                <div class="media-body">
                                                    <span class="name">Phillip Smith</span>
                                                    <div class="message">It has roots in a piece of classical Latin literature from 45 BC</div>
                                                    <small>33 mins ago</small>
                                                    <span class="badge badge-outline status"></span>
                                                </div>
                                            </a>                            
                                        </li>                        
                                    </ul>
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                                </div>
                            </div>
                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-primary nav-unread"></span></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <ul class="list-unstyled feeds_widget">
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-check"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title text-danger">Issue Fixed <small class="float-right text-muted">11:05</small></h4>
                                                <small>WE have fix all Design bug with Responsive</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-user"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title">New User <small class="float-right text-muted">10:45</small></h4>
                                                <small>I feel great! Thanks team</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-thumbs-o-up"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title">7 New Feedback <small class="float-right text-muted">Today</small></h4>
                                                <small>It will give a smart finishing to your site</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-question-circle"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title text-warning">Server Warning <small class="float-right text-muted">10:50</small></h4>
                                                <small>Your connection is not private</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-shopping-cart"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title">7 New Orders <small class="float-right text-muted">11:35</small></h4>
                                                <small>You received a new oder from Tina.</small>
                                            </div>
                                        </li>                                   
                                    </ul>
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                                </div>
                            </div>
                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="page-profile.html"><i class="dropdown-icon fe fe-user"></i> Profile</a>
                                    <a class="dropdown-item" href="app-setting.html"><i class="dropdown-icon fe fe-settings"></i> Settings</a>
                                    <a class="dropdown-item" href="javascript:void(0)"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="dropdown-icon fe fe-mail"></i> Inbox</a>
                                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon fe fe-send"></i> Message</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon fe fe-help-circle"></i> Need help?</a>
                                    <a class="dropdown-item" href="login.html"><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body mt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Search here...">
                                </div>                            
                                <p class="mb-0">Search Result For "Bootstrap 4 admin"</p>
                                <strong class="font-12"> About 16,853 result ( 0.13 seconds)</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#All" aria-expanded="true">All</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Images" aria-expanded="true">Images</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Video" aria-expanded="false">Video</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#News" aria-expanded="false">News</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#More" aria-expanded="false">More</a></li>
                        </ul>
                        <div class="tab-content mt-3">
                            <div role="tabpanel" class="tab-pane vivify fadeIn active" id="All" aria-expanded="false">
                                <div class="table-responsive">
                                    <table class="table table-hover card-table table_custom">
                                        <tbody>
                                            <tr class="" >
                                                <td>
                                                    <h6><a target="_blank" href="javascript:void(0);">Bootstrap 4 Light &amp; Dark Admin with Free VueJs</a></h6>
                                                    <span class="text-green font-13">https://themeforest.net/user/admincraft</span>
                                                    <p class="mt-10 mb-0 text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                                </td>
                                                <td>
                                                    <span class="badge badge-success"><i class="fa fa-eye"></i> 1501</span>
                                                </td>
                                            </tr>
                                            <tr class="">
                                                <td>
                                                    <h6><a target="_blank" href="javascript:void(0);">Bootstrap 4 Admin Dashboard Template</a></h6>
                                                    <span class="text-green font-13">https://themeforest.net/user/admincraft</span>
                                                    <p class="mt-10 mb-0 text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                                </td>
                                                <td>
                                                    <span class="badge badge-success"><i class="fa fa-eye"></i> 1894</span>
                                                </td>
                                            </tr>
                                            <tr class="">
                                                <td>
                                                    <h6><a target="_blank" href="javascript:void(0);">The ultimate Bootstrap 4 Admin Dashboard</a></h6>
                                                    <span class="text-green font-13">https://themeforest.net/user/admincraft</span>
                                                    <p class="mt-10 mb-0 text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                                </td>
                                                <td>
                                                    <span class="badge badge-success"><i class="fa fa-eye"></i> 1205</span>
                                                </td>
                                            </tr>
                                            <tr class="">
                                                <td>
                                                    <h6><a target="_blank" href="javascript:void(0);">Bootstrap 4 Admin Dashboard Template</a></h6>
                                                    <span class="text-green font-13">https://themeforest.net/user/admincraft</span>
                                                    <p class="mt-10 mb-0 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </td>
                                                <td>
                                                    <span class="badge badge-success"><i class="fa fa-eye"></i> 985</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane vivify fadeIn" id="Images" aria-expanded="true">
                                <div class="card">
                                    <div class="card-body text-center py-5">
                                        <img src="assets/images/search.svg" class="width360 mb-3" />
                                        <h4>No Images Found</h4>
                                        <span>Choose a different filter to view test results to you</span>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane vivify fadeIn" id="Video" aria-expanded="true">
                                <div class="card">
                                    <div class="card-body text-center py-5">
                                        <img src="assets/images/search.svg" class="width360  mb-3" />
                                        <h4>No Video Found</h4>
                                        <span>Choose a different filter to view test results to you</span>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane vivify fadeIn" id="News" aria-expanded="true">
                                <div class="card">
                                    <div class="card-body">
                                        <article class="media">
                                            <div class="mr-3">
                                                <img class="w150" src="assets/images/gallery/1.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="content">
                                                    <p class="h5">John Smith <small>@johnsmith</small> <small class="float-right text-muted">31 minutes ago</small></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                                                </div>
                                                <nav class="d-flex text-muted">
                                                    <a href="#" class="icon mr-3"><i class="fe fe-repeat"></i></a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-twitter"></i> 24</a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-heart"></i> 43</a>
                                                    <a href="#" class="text-muted ml-auto">5 notes</a>
                                                </nav>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <article class="media">
                                            <div class="mr-3">
                                                <img class="w150" src="assets/images/gallery/2.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="content">
                                                    <p class="h5">John Smith <small>@johnsmith</small> <small class="float-right text-muted">31 minutes ago</small></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                                                </div>
                                                <nav class="d-flex text-muted">
                                                    <a href="#" class="icon mr-3"><i class="fe fe-repeat"></i></a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-twitter"></i> 24</a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-heart"></i> 43</a>
                                                    <a href="#" class="text-muted ml-auto">5 notes</a>
                                                </nav>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <article class="media">
                                            <div class="mr-3">
                                                <img class="w150" src="assets/images/gallery/3.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="content">
                                                    <p class="h5">John Smith <small>@johnsmith</small> <small class="float-right text-muted">31 minutes ago</small></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                                                </div>
                                                <nav class="d-flex text-muted">
                                                    <a href="#" class="icon mr-3"><i class="fe fe-repeat"></i></a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-twitter"></i> 24</a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-heart"></i> 43</a>
                                                    <a href="#" class="text-muted ml-auto">5 notes</a>
                                                </nav>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <article class="media">
                                            <div class="mr-3">
                                                <img class="w150" src="assets/images/gallery/4.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="content">
                                                    <p class="h5">John Smith <small>@johnsmith</small> <small class="float-right text-muted">31 minutes ago</small></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                                                </div>
                                                <nav class="d-flex text-muted">
                                                    <a href="#" class="icon mr-3"><i class="fe fe-repeat"></i></a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-twitter"></i> 24</a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-heart"></i> 43</a>
                                                    <a href="#" class="text-muted ml-auto">5 notes</a>
                                                </nav>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <article class="media">
                                            <div class="mr-3">
                                                <img class="w150" src="assets/images/gallery/5.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="content">
                                                    <p class="h5">John Smith <small>@johnsmith</small> <small class="float-right text-muted">31 minutes ago</small></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                                                </div>
                                                <nav class="d-flex text-muted">
                                                    <a href="#" class="icon mr-3"><i class="fe fe-repeat"></i></a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-twitter"></i> 24</a>
                                                    <a href="#" class="icon mr-3"><i class="fe fe-heart"></i> 43</a>
                                                    <a href="#" class="text-muted ml-auto">5 notes</a>
                                                </nav>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>